@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 100% 97%;
    --foreground: 279 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 279 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 279 30% 20%;
    --primary: 279 66% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 276 100% 92%;
    --secondary-foreground: 279 30% 30%;
    --muted: 276 100% 92%;
    --muted-foreground: 279 20% 45.1%;
    --accent: 199 100% 66%;
    --accent-foreground: 199 100% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 50% 85%;
    --input: 276 50% 88%;
    --ring: 279 66% 61%;
    --chart-1: 279 66% 61%;
    --chart-2: 199 100% 66%;
    --chart-3: 279 40% 75%;
    --chart-4: 199 50% 80%;
    --chart-5: 279 20% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 279 15% 10%;
    --foreground: 276 100% 97%;
    --card: 279 15% 15%;
    --card-foreground: 276 100% 97%;
    --popover: 279 15% 10%;
    --popover-foreground: 276 100% 97%;
    --primary: 279 66% 61%;
    --primary-foreground: 0 0% 100%;
    --secondary: 279 15% 25%;
    --secondary-foreground: 276 100% 97%;
    --muted: 279 15% 25%;
    --muted-foreground: 279 10% 65%;
    --accent: 199 100% 66%;
    --accent-foreground: 199 100% 20%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 279 15% 25%;
    --input: 279 15% 25%;
    --ring: 279 66% 61%;
    --chart-1: 279 66% 61%;
    --chart-2: 199 100% 66%;
    --chart-3: 279 40% 75%;
    --chart-4: 199 50% 80%;
    --chart-5: 279 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
