@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 276 100% 97%;
    --foreground: 279 30% 20%;
    --card: 0 0% 100%;
    --card-foreground: 279 30% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 279 30% 20%;
    --primary: 48 96% 59%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 276 100% 92%;
    --secondary-foreground: 279 30% 30%;
    --muted: 276 100% 92%;
    --muted-foreground: 279 20% 45.1%;
    --accent: 48 96% 59%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 276 50% 85%;
    --input: 276 50% 88%;
    --ring: 48 96% 59%;
    --chart-1: 48 96% 59%;
    --chart-2: 199 100% 66%;
    --chart-3: 279 40% 75%;
    --chart-4: 199 50% 80%;
    --chart-5: 279 20% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 40% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 40% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 48 96% 59%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 40% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 48 96% 59%;
    --accent-foreground: 240 10% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 48 96% 59%;
    --chart-1: 48 96% 59%;
    --chart-2: 199 100% 66%;
    --chart-3: 279 40% 75%;
    --chart-4: 199 50% 80%;
    --chart-5: 279 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
